*{
   padding:0;
   margin:0;
   box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}
.main{
    width:100%;
    height:100%;
    display: flex;
}
.qusbox{
    width:75%;
    height:100vh;
    background-image:url('../public/kbc.png');
    background-size: cover;
    background-repeat: none;
    background-position: center;
}
.amountbox{
    width:25%;
    background: #030c64;
    color:white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer{
      width:100%;
      height:50%;
      position: relative;
}
.timer .ring{
    width:70px;
    height:70px;
    border:2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    color:#fe0606;
    bottom: 0;
    left:15rem;
}
.qusetions{
      width:100%;
      height:50%;
      display: flex;
      justify-content: center;
      
}
.list{
    width:100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1.6px;

}
.listitem{
      width:90%;
      padding: 10px;
      /* border:2px solid rgb(236, 10, 10);
      background: #fc0606; */
      display: flex;
      gap:2rem;
      cursor: pointer;
      border-radius: 5px;
}
.active{
  width:90%;
  padding: 10px;
  border:2px solid rgb(236, 10, 10);
  background: #fc0606;
  display: flex;
  gap:2rem;
  cursor: pointer;
  border-radius: 5px;
}